<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.treebricks.ewuhub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ApplicationHome"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ui.SortCourseHome"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_sort_course_home"
            android:parentActivityName=".ui.ApplicationHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ApplicationHome" />
        </activity>

        <activity
            android:name=".ui.CourseInput"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_course_input"
            android:parentActivityName=".ui.SortCourseHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.treebricks.ewuhub.ui.SortCourseHome" />
        </activity>

        <activity
            android:name=".ui.ShowSortCourses"
            android:label="@string/title_activity_show_sort_courses"
            android:parentActivityName=".ui.CourseInput"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.treebricks.ewuhub.ui.CourseInput" />
        </activity>

        <activity
            android:name=".ui.CourseDetails"
            android:label="@string/title_activity_course_details"
            android:parentActivityName=".ui.ShowSortCourses"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.treebricks.ewuhub.ui.ShowSortCourses" />
        </activity>

        <activity
            android:name=".ui.AllWebView"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.treebricks.ewuhub.ui.ApplicationHome"
                />
        </activity>

    </application>

</manifest>
