<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.treebricks.ewuhub">

    <!-- Android Permissions for EWUHUB -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <!-- Splash Screen Activity(This is the first activity to open) -->
        <activity
            android:name=".ui.SplashScreen"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ApplicationHome activity -->
        <activity
            android:name=".ui.ApplicationHome"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--Firebase Notification Service-->

        <service android:name=".services.EwuhubFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>


        <activity
            android:name=".ui.SortCourseHome"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_sort_course_home"
            android:parentActivityName=".ui.ApplicationHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ApplicationHome" />
        </activity>
        <activity
            android:name=".ui.CourseInput"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_course_input"
            android:parentActivityName=".ui.SortCourseHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.treebricks.ewuhub.ui.SortCourseHome" />
        </activity>
        <activity
            android:name=".ui.ShowSortCourses"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_show_sort_courses"
            android:parentActivityName=".ui.SortCourseHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.treebricks.ewuhub.ui.SortCourseHome" />
        </activity>
        <activity
            android:name=".ui.AllWebView"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.treebricks.ewuhub.ui.ApplicationHome" />
        </activity>
        <activity
            android:name=".ui.About"
            android:label="About">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.treebricks.ewuhub.ui.Preferences" />
        </activity>
        <activity
            android:name=".ui.EwuSpirit"
            android:label="@string/title_activity_ewu_spirit"
            android:parentActivityName=".ui.ApplicationHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.treebricks.ewuhub.ui.ApplicationHome" />
        </activity>
        <activity
            android:name=".ui.NoticeActivity"
            android:label="@string/title_activity_notice"
            android:noHistory="true"
            android:parentActivityName=".ui.ApplicationHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.treebricks.ewuhub.ui.ApplicationHome" />
        </activity>
        <activity
            android:name=".ui.NoticeWebViewer"
            android:label="@string/title_activity_notice_web_viewer"
            android:parentActivityName=".ui.NoticeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.treebricks.ewuhub.ui.NoticeActivity" />
        </activity>
        <activity
            android:name=".ui.Preferences"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.treebricks.ewuhub.ui.ApplicationHome" />
        </activity>
        <activity
            android:name=".ui.ApplicationIntro"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CourseDetails"
            android:label="@string/title_activity_course_details"
            android:parentActivityName=".ui.ShowSortCourses"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.treebricks.ewuhub.ui.ShowSortCourses" />
        </activity>
        <activity
            android:name=".ui.AcademicCalendar"
            android:label="@string/title_activity_academic_calendar"
            android:parentActivityName=".ui.ApplicationHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.treebricks.ewuhub.ui.ApplicationHome" />
        </activity>

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_hbi0MxBIhyZ8WYIrgy8vbmbiuthzWdSs" />

    </application>

</manifest>